<%= form_for(:session , url: login_path) do |f| %>
  <div class="form-group">
    <%= f.label :email %>
    <%= f.email_field :email, class: "form-control" %>
  </div>

  <div>
    <%= f.submit "Login", class: "btn btn-primary" %>
  </div>
<% end %>