
<% if obj.errors.any? %>
    <div class="alert alert-danger alert-dismissible show" role="alert">
      <button type="button" id="close" class="close" data-dismiss="alert" arai-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <h5><%= pluralize(obj.errors.count, "error") %>.</h5>
        <ul>
          <strong>Errors!</strong>
          <% obj.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
    </div>
<% end %>