
<div class="event_header">
  <h3>Check out the most popular events!!!</h3>
</div>

<h4>Passed Events</h4>
<div class="divider"></div>
<%= render @passed_events.includes(:creator, :attendees, :invitations) %>

<h4>Upcoming Events</h4>
<div class="divider"></div>
<%= render @coming_events.includes(:creator, :attendees, :invitations) %>



