
<div class="event_header">
  <h3>Check the most popular events!!!</h3>
</div>
<%= render @events.includes(:creator, :attendees, :invitations) %>

<div class="pagination-events">
  <%= will_paginate %>
</div>


