
<h3>Events (<%= @events.count %>)</h3>
    
    <table class="table table-striped">
      <tr>
        <th>Creator</th>
        <th>Date</th>
        <th>Location</th>
        <th>Description</th>
        <th>Actions</th>
      </tr>
      <%= render @events %>
    </table>